[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-multipart = "*"
ruff = "*"
google-cloud-storage = "*"
google-cloud-firestore = "*"

[requires]
python_version = "3.11"

[dev-packages]
